%h1 Listing feeds

%table
  %tr
    %th Title
    %th Url
    %th Publisher url
    %th Last updated
    %th
    %th
    %th

  - @feeds.each do |feed|
    %tr
      %td= feed.title
      %td= feed.url
      %td= feed.publisher_url
      %td= feed.last_updated
      %td= link_to 'Show', feed
      %td= link_to 'Edit', edit_feed_path(feed)
      %td= link_to 'Destroy', feed, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Feed', new_feed_path
