

= render 'form'

Popular Canteen Feeds

%table
  %tr
    %th
    %th

  - @feeds.each do |feed|
    %tr
      %td= link_to "#{feed.image}", feed
      %td= link_to "#{feed.title}", feed
      - unless current_user.is_subscribed?(feed.id)
        %td= link_to '+ subscribe', feed, method: :subscribe


  