- if params[:q].present?

  %h2= "Results matching '#{params[:q]}'"

  %h3 Feeds
  - if @feeds.any?
    - @feeds.each do |feed|
      %p= link_to feed.title, feed
  - else
    %em No match found.

  %h3 Entries
  - if @entries.any?
    - @entries.each do |entry|
      %p= link_to entry.title, entry
  - else
    %em No match found.

  %h3 Users
  - if @users.any?
    - @users.each do |user|
      %p= link_to user.first_name, user
  - else
    %em No match found.

- else
  = render @feeds



