

= render 'form'

Popular Canteen Feeds


- @feeds.each do |feed|
  .feedtile
    = link_to image_tag(feed.image), feed
    = link_to "#{feed.title}", feed
    - unless current_user.is_subscribed?(feed.id)
      = link_to '+ subscribe', feed, method: :subscribe

