%p#notice= notice

.feedcontainer
  .feedimagebig
    =@feed.image

  .feeddetails
    %p
      %b Title:
      %br
      = @feed.title
    %p
      %b Feed URL:
      %br
      = @feed.feed_url
    %p
      %b Site:
      %br
      = @feed.url
    %p
      %b Last updated:
      %br
      = @feed.last_updated

.feedentries
  - @feed.entries.each do |entry|

    %li.entry{:data => {:entry_id => entry.id, :feed_id => @feed.id}}
      %p{id: "#{entry.id}"}
        = link_to "#{entry.title}", entry
      - if current_user && current_user.has_bookmarked?(entry.id) != true
        .icon= link_to image_tag("bookmark.png", alt: "Bookmark", :id => 'bookmark'), entry, method: :bookmark

/ = link_to 'Back', feeds_path


