%p#notice= notice

.feedcontainer
  .feedimagebig
    -if @feed.image
      = image_tag @feed.image
    -else
      .placeholderbig= image_tag("placeholder.png")

  .feeddetails
    %h2.title
      = @feed.title
    %p
      = @feed.url
    %p
      -if @feed.last_updated
        %b Last updated:
        %br
        = @feed.last_updated.strftime("%a %d %b %Y")

  .userssimilar
    %p.title
      - if @related_feeds != []
        %b Users that subscibe to this are also reading:
        %br      
          - @related_feeds[0..4].each do |feed|
            = link_to feed.title, feed

          %br

.feedentries
  - @feed.entries.each do |entry|

    %li.entry{:data => {:entry_id => entry.id, :feed_id => @feed.id}}
      %p{id: "#{entry.id}"}
        = link_to "#{entry.title}", entry
    
      - if current_user && current_user.has_bookmarked?(entry.id) != true
        .icon= link_to image_tag("bookmark.png", alt: "Bookmark", :id => 'bookmark'), entries_bookmark_path(entry)
      - else
        .icon= link_to image_tag("bookmark2.png", alt: "Bookmark", :id => 'bookmark'), entries_bookmark_path(entry)
/ = link_to 'Back', feeds_path
