%p#notice= notice

.feedimagebig
  =@feed.image

%p
  %b Title:
  = @feed.title
%p
  %b Feed URL:
  = @feed.feed_url
%p
  %b Site:
  = @feed.url
%p
  %b Last updated:
  = @feed.last_updated

- @feed.entries.each do |entry|

  %li.entry{:data => {:entry_id => entry.id, :feed_id => @feed.id}}
    %p{id: "#{entry.id}"}
      = link_to "#{entry.title}", entry

= link_to 'Back', feeds_path


