%p#notice= notice

%p
  %b Title:
  = @feed.title
%p
  %b Url:
  = @feed.url
%p
  %b Publisher url:
  = @feed.publisher_url
%p
  %b Last updated:
  = @feed.last_updated

-@feed.each do |feed|
      -entry=feed.entry

      %li.entry{:data => {:entry_id => entry.id, :feed_id => @feed.id}}
        %p{id: "#{entry.id}"}
          =link_to "#{feed.entry.title}", feed.entry.title

= link_to 'Back', feeds_path

    