%p#notice= notice

.feedcontainer
  .feedimagebig
    -if @feed.image
      = image_tag @feed.image
    -else
      .placeholderbig= image_tag("placeholder.png")

  .feeddetails
    %h2.title
      = @feed.title
    %p
      = @feed.url
    %p
      -if @feed.last_updated
        %b Last updated:
        %br
        = @feed.last_updated.strftime("%a %d %b %Y")
    - if current_user && current_user.is_subscribed?(@feed.id) != true
      .subscribeicon= link_to image_tag("subscribe.png", alt: "Subscribe", :id => 'subscribebig'), @feed, method: :subscribe
    %p= link_to 'Update', feeds_update_entries_path(@feed)

  .userssimilar
    %p.title
      - if @related_feeds != []
        %b Users that subscibe to this are also reading:
        %br
        %br      
          - @related_feeds[0..4].each do |feed|
            = link_to feed.title, feed
            %br

.feedentries
  %table
    %tr
      %th
      %th
      %th
      %th
    - @feed_entries.each do |entry|
      %tr
        %td
          - if current_user && current_user.has_read?(entry.id) != true
            .iconleft= link_to image_tag("unread.png", alt: "Unread", :id => 'unread'), entries_mark_as_read_path(entry)
          - if current_user && current_user.has_read?(entry.id)
            .iconleft= link_to image_tag("unread2.png", alt: "Read", :id => 'unread'), entries_mark_as_read_path(entry)
        %td
          - if current_user && current_user.has_bookmarked?(entry.id) != true
            .iconleft= link_to image_tag("bookmark.png", alt: "Bookmark", :id => 'bookmark'), entries_bookmark_path(entry)
          - if current_user && current_user.has_bookmarked?(entry.id)
            .iconleft= link_to image_tag("bookmark2.png", alt: "Bookmark", :id => 'bookmark'), entries_bookmark_path(entry)
        %td
          %strong
            = link_to truncate(entry.title, length: 60), entry
        %td
          = time_ago_in_words(entry.published_on)
    = paginate @feed_entries        