%p#notice= notice

.feedcontainer
  .feedimagebig
    = image_tag @feed.image

  .feeddetails
    %h2.title
      = @feed.title
    %p
      = @feed.url
    %p
      -if @feed.last_updated
        %b Last updated:
        %br
        = @feed.last_updated.strftime("%a %d %b %Y")

  .userssimilar
    %p.title
      %b Users that subscibe to this are also reading:
      %br
      - @feed.users.each do |user|
        - user.subscriptions.each do |subscription|
          = link_to subscription.feed.title, subscription.feed
          %br

.feedentries
  - @feed.entries.each do |entry|

    %li.entry{:data => {:entry_id => entry.id, :feed_id => @feed.id}}
      %p{id: "#{entry.id}"}
        = link_to "#{entry.title}", entry
      - if current_user && current_user.has_bookmarked?(entry.id) != true
        .icon= link_to image_tag("bookmark.png", alt: "Bookmark", :id => 'bookmark'), entry, method: :bookmark

/ = link_to 'Back', feeds_path


