.entryshow
  %p#notice= notice

  %p
    = @entry.title
  %p
    = @entry.author
  %p
    -unless @entry.image == nil
      = image_tag @entry.image
  .entrycontent
    = @entry.summary.html_safe
  %p
    %b Published on:
    -if @entry.published_on
      = @entry.published_on.strftime("%a %d %b %Y")

  = link_to image_tag("original.png", alt: "View Original Source", :id => 'original'), @entry.url
  = link_to image_tag("unread.png", alt: "Mark Unread", :id => 'unread'), controller: :entries, action: :mark_as_read
  - if Bookmark.exists?(user_id: current_user.id, entry_id: @entry.id)
    = link_to image_tag("bookmark2.png", alt: "Bookmark", :id => 'bookmark'), controller: :entries, action: :bookmark
  - else
    = link_to image_tag("bookmark.png", alt: "Bookmark", :id => 'bookmark'), controller: :entries, action: :bookmark

