.entryshow
  %p#notice= notice

  %p
    %b Title:
    = @entry.title
  %p
    %b Url:
    = @entry.url
  %p
    %b Author:
    = @entry.author
  %p
    %b Image:
    -unless @entry.image == nil
      = image_tag @entry.image
  %p
    %b Summary:
    = @entry.summary.html_safe
  %p
    %b Content:
    = @entry.content
  %p
    %b Published on:
    -if @entry.published_on
      = @entry.published_on.strftime("%a %d %b %Y")
  %p
    %b Feed:
    = @entry.feed_id

  / to be replaced by icons
  =link_to "View Original Source", @entry.url
  =link_to "Mark Unread", {remote: true}, :data => {:entry_id => @entry.id}  
  =link_to "Favourite", {remote: true}, :data => {:entry_id => @entry.id}