-if current_user == @user
  .userfeeds
    = image_tag @user.avatar
    %br
    %h4
      =@user.first_name
      =@user.last_name
    %p
      = @user.email
    %br
    %h4 Your feeds
  .userfeeds
    -@current_user.subscriptions.each do |subscription|
      .feedtileparent
        .feedtileprofile
          - if subscription.feed.image
            = link_to(image_tag(subscription.feed.image), feed_path)
          - else
            .placeholder= link_to(image_tag("placeholder.png"), feed_path)
          %br
        .feedtiletext
          = link_to "#{subscription.feed.title}", feed_path
  .userfeeds
    %h4 About Me
    %p
      =@user.bio
    %br
    =link_to 'Edit Profile',  edit_user_path(@user)
    =link_to 'Delete Profile', @user, method: :delete, data: { confirm: 'Are you sure?' }

-else
  .userfeeds
    = image_tag @user.avatar
    %br
    %h4
      =@user.first_name
      =@user.last_name
    %p
      =@user.bio
    %br
    %h4 #{@user.first_name}'s feeds
  .userfeeds
    -@user.subscriptions.each do |subscription|
      .feedtileparent
        .feedtileprofile
          - if subscription.feed.image
            = link_to(image_tag(subscription.feed.image), feed_path)
          - else
            .placeholder= link_to(image_tag("placeholder.png"), feed_path)
          %br
        .feedtiletext
          = link_to "#{subscription.feed.title}", feed_path
    
