-if current_user == @user
  .userfeeds
    .profile
      .placeholderavatar= image_tag @user.avatar.thumb
      .profiledetails
        %h2
          =@user.first_name
          =@user.last_name
        %p
          = @user.email
  .userfeeds
    -@current_user.subscriptions.each do |subscription|
      .feedtileparent
        .feedtileprofile
          .placeholder= link_to(image_tag("placeholder.png"), feed_path(subscription.feed))
          %br
        .feedtiletext
          = link_to "#{subscription.feed.title}", feed_path(subscription.feed)
  .userfeeds
    %h4 About Me
    %p
      =@user.bio
    %br
    .iconleft= link_to image_tag("edit.png", alt: "Edit Profile", :id => 'editbig'), edit_user_registration_path
    .iconleft= link_to image_tag("trash.png", alt: "Delete Profile", :id => 'trashbig'), users_path, method: :delete, data: { :confirm => 'Are you sure?' }

-else
  .userfeeds
    .profile
      .placeholderavatar= image_tag @user.avatar.thumb
      .profiledetails
        %h2
          =@user.first_name
          =@user.last_name
        %p
          = @user.email
        %p
          =@user.bio
  %br
  -if @user.first_name != ""
    %h4 #{@user.first_name}'s feeds
  -else
  .userfeeds
    -@user.subscriptions.where("private is not ?", true).each do |subscription|
      .feedtileparent
        .feedtileprofile
          - if subscription.feed.image
            = link_to(image_tag(subscription.feed.image), feed_path(subscription.feed))
          - else
            .placeholder= link_to(image_tag("placeholder.png"), feed_path(subscription.feed))
          %br
        .feedtiletext
          = link_to "#{subscription.feed.title}", feed_path(subscription.feed)
    
