- content_for :sidebar do
  = form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post }) do |f|
    %br
    %br
    = f.label :email
    %br
    = f.email_field :email, :autofocus => true
    %br
    %br
    .submitbutton= f.submit "Send me reset password instructions"
    %br
    = devise_error_messages!

  = render "devise/shared/links"

= render partial: 'feeds/feed', collection: @feeds