= form_for @subscription do |f|
  - if @subscription.errors.any?
    #error_explanation
      %h2= "#{pluralize(@subscription.errors.count, "error")} prohibited this subscription from being saved:"
      %ul
        - @subscription.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :feed_id
    = f.number_field :feed_id

  .field
    = f.label :user_id
    = f.number_field :user_id

  .actions
    = f.submit 'Save'
