.feedcontainer
  .feedimagebig
    -if @subscription.feed.image
      = image_tag @subscription.feed.image
    -else
      .placeholderbig= image_tag("placeholder.png")

  .feeddetails
    %h2.title
      = @subscription.feed.title
    %p
      = @subscription.feed.url
    %p
      -if @feed.last_updated
        %b Last updated:
        %br
        = @subscription.feed.last_updated.strftime("%a %d %b %Y")

= form_for @subscription do |f|
  - if @subscription.errors.any?
    #error_explanation
      %h2= "#{pluralize(@subscription.errors.count, "error")} prohibited this subscription from being saved:"
      %ul
        - @subscription.errors.full_messages.each do |msg|
          %li= msg
  .field
    = f.label :tags
    %br
    = f.text_field :tag_list
    %br
    %br
    = f.label "Private Subscription?"
    = f.check_box :private, {}, true, false
    %br
    %br
  .actions
    .submitbutton= f.submit 'Save'
