%h1 Listing subscriptions

%table
  %tr
    %th User ID
    %th Feed ID
    %th

  - @subscriptions.each do |subscription|
    %tr
      %td= subscription.user_id
      %td= subscription.feed_id
      - if subscription.tags.any?
        - subscription.tags.each do |tag|
          %td= link_to tag.name, tagged_url(:tag => tag.name)
      %td= link_to 'Show', subscription
      %td= link_to 'Edit', edit_subscription_path(subscription)
      %td= link_to 'Destroy', subscription, method: :delete, data: { :confirm => 'Are you sure?' }



= link_to 'New Subscription', feeds_path
