- content_for :sidebar do
  = form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f|
    %br
    %br
    = f.label :email
    %br
    = f.email_field :email, :autofocus => true
    %br
    %br
    = f.label :password
    %br
    = f.password_field :password
    %br
    %br
    - if devise_mapping.rememberable?
      = f.label :remember_me
      &nbsp;
      = f.check_box :remember_me
    %br
    %br
    .submitbutton= f.submit "Sign in"

  = render "devise/shared/links"
