!!! 5
%html
  %head
    %title CantineApp
    = stylesheet_link_tag "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags

  %body

    .container

      #topbar
        =link_to image_tag("logo.png", alt: "Canteen Logo", :id => 'logo'), feeds_path
        - if current_user
          = link_to "Logout", destroy_user_session_path, method: :delete, data: { confirm: 'Are you sure you want to logout?'}
        %p.notice
        = notice
        %p.alert
        = alert
        / search box on right

      #sidebar
        - if current_user
          = "Hello #{current_user.email} #{current_user.last_name}"
          

        - else
          - unless content_for?(:sidebar) 
            = render('devise/sessions/new.html.haml')

          = yield(:sidebar)
          %br

        = link_to 'New Feed', new_subscription_path, :id => 'newsubscriptionbutton'
      #reader
        = yield

      


