- content_for :sidebar do
  = form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f|
    %br
    %br
    = f.label :email
    %br
    = f.email_field :email, :autofocus => true
    %br
    %br
    = f.label :password
    %br
    = f.password_field :password
    %br
    %br
    = f.label :password_confirmation
    %br
    = f.password_field :password_confirmation
    %br
    %br
    .submitbutton= f.submit "Sign up"
    %br
    %br
    = devise_error_messages!

  = render "devise/shared/links"

= render partial: 'feeds/feed', collection: @feeds
